@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root{
    --orange:#ff9500;
    --white-color:#fff;
    --black-color:#333;
    --light-color:rgba(0,0,0,.3);
}

*{
    font-family: 'Roboto', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    transition:.2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7.5rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width:1rem;
}

html::-webkit-scrollbar-track{
    background:var(--white-color);
}

html::-webkit-scrollbar-thumb{
    background:var(--black-color);
    border-radius: 5rem;
}

body{
    background:#eee;
}

body.active{
    --white-color:#111;
    --black-color:#fff;
    --light-color:rgba(255,255,255,.3);
    background:#222;
}

section{
    padding:1rem 9%;
}

.heading{
    padding:1rem 0;
    margin-bottom: 2rem;
    border-bottom: .1rem solid var(--light-color);
    font-size: 3rem;
    color:var(--black-color);
    text-transform: uppercase;
}

.heading span{
    color:var(--orange);
    text-transform: uppercase;
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    margin-left: 1rem;
    border-radius: 5rem;
    background: var(--black-color);
    color:var(--white-color);
    font-size: 1.8rem;
    padding:.9rem 3.5rem;
    cursor: pointer;
}

.btn:hover{
    background:var(--orange);
    color:#fff;
}

header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--white-color);
    border-bottom: .1rem solid var(--light-color);
    padding:1.5rem 9%;
}

header .logo{
    text-transform: uppercase;
    font-weight: bolder;
    color:var(--black-color);
    font-size: 3rem;
}

header .logo span{
    color:var(--orange);
}

header form{
    display: flex;
    align-items: center;
    width: 40rem;
    border-radius: 5rem;
    height: 5rem;
    background: var(--black-color);
    overflow:hidden;
}

header form input{
    width: 100%;
    height: 100%;
    background: none;
    font-size: 1.7rem;
    color:var(--white-color);
    padding:0 2rem;
    text-transform: none;
}

header form label{
    font-size: 2rem;
    padding-right: 2rem;
    color:var(--white-color);
    cursor: pointer;
}

header form label:hover{
    color:var(--orange);
}

header .icons div,
header .icons a{
    height: 4rem;
    width: 4rem;
    font-size: 1.7rem;
    line-height: 4rem;
    background: var(--black-color);
    color:var(--white-color);
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    margin-right: .7rem;
}

header .icons div:hover,
header .icons a:hover{
    background: var(--orange);
    color:#fff;
    transform: rotate(360deg);
}

header.active{
    position: fixed;
    top:0; left: 0;
    z-index: 100;
}

.filter {
    width: 100%;
    height: 10%;
    background: var(--white-color);
    text-align: center;
}

.filter ul {
    display: inline-flex;
    list-style: none;
    color: var(--black-color);
}

.filter ul li {
    width: 10rem;
    margin: 1rem;
    padding: 1rem;
    font-size: 1.5rem;
}

.filter ul li a {
    text-decoration: none;
    color: var(--black-color)
}

.filter ul li:hover {
    background: var(--orange);
    border-radius: 2rem;
    cursor: pointer;
    color: var(--white-color)
}

.navbar{
    position: fixed;
    top:0; left: -120%;
    z-index: 1000;
    height: 100%;
    background: var(--white-color);
    padding:3rem;
    width: 30rem;
}

.navbar.active{
    left: 0;
    box-shadow: 0 0 0 100vw var(--light-color);
}

.navbar .user{
    text-align: center;
    margin:3rem auto;
}

.navbar .user img{
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    border:.5rem solid var(--white-color);
    object-fit: cover;
    box-shadow: 5rem 2rem 0 -3rem var(--orange),
                -5rem -2rem 0 -3rem var(--orange);
}

.navbar .user h3{
    padding-top: .5rem;
    color:var(--black-color);
    font-weight: 500;
    font-size: 2rem;
}

.navbar .links {
    display: flex;
    flex-direction: column;
}

.navbar .links button {
    width: 20rem;
    height: 5rem;
    margin-top: 3rem;
    border-radius: 5rem;
    background: var(--black-color);
    color:var(--white-color);
    font-size: 1.8rem;
    padding: .9rem 1.5rem;
    cursor: pointer;
}

.navbar .links a {
    display: block;
    border-bottom: .1rem solid var(--light-color);
    font-size: 2rem;
    color: var(--white-color);
}

.navbar .links a:last-child{
    border: none;
}

.navbar .links a:hover{
    letter-spacing: .2rem;
    color:var(--orange);
}

.navbar #close{
    position: absolute;
    top:1rem; right:2rem;
    font-size: 3rem;
    cursor: pointer;
    color:var(--black-color);
}

.navbar #close:hover{
    color: var(--orange);
}

.userIsLogged{
    position: fixed;
    top:0; left: -120%;
    z-index: 1000;
    height: 100%;
    background: var(--white-color);
    padding:3rem;
    width: 30rem;
}

.userIsLogged.active{
    left: 0;
    box-shadow: 0 0 0 100vw var(--light-color);
}

.userIsLogged .user{
    text-align: center;
    margin:3rem auto;
}

.userIsLogged .user img{
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    border:.5rem solid var(--white-color);
    object-fit: cover;
    box-shadow: 5rem 2rem 0 -3rem var(--orange),
                -5rem -2rem 0 -3rem var(--orange);
    margin-bottom: 4rem;
}

.userIsLogged .user p{
    padding-top: .5rem;
    color:var(--black-color);
    font-weight: 500;
    font-size: 2rem;
    border: 1px solid var(--black-color);
    padding: 1rem;
    border-radius: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    overflow: hidden;
}

.userIsLogged .user span{
    padding-top: .5rem;
    color:var(--black-color);
    font-weight: 500;
    font-size: 2rem;
}

.userIsLogged button {
    width: 20rem;
    height: 5rem;
    margin-top: 3rem;
    border-radius: 5rem;
    background: var(--black-color);
    color:var(--white-color);
    font-size: 1.8rem;
    padding: .9rem 1.5rem;
    cursor: pointer;
}

.userIsLogged #exit{
    position: absolute;
    top:1rem; right:2rem;
    font-size: 3rem;
    cursor: pointer;
    color:var(--black-color);
}

.userIsLogged #exit:hover{
    color: var(--orange);
}

.information{
    position: fixed;
    top:0; left: -120%;
    z-index: 1000;
    height: 100%;
    background: var(--white-color);
    padding:3rem;
    width: 30rem;
}

.information.active{
    left: 0;
    box-shadow: 0 0 0 100vw var(--light-color);
}

.information .user{
    text-align: center;
    margin:3rem auto;
}

.information .user img{
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    border:.5rem solid var(--white-color);
    object-fit: cover;
    box-shadow: 5rem 2rem 0 -3rem var(--orange),
                -5rem -2rem 0 -3rem var(--orange);
    margin-bottom: 4rem;
}

.information .user p{
    padding-top: .5rem;
    color:var(--black-color);
    font-weight: 500;
    font-size: 2rem;
    border: 1px solid var(--black-color);
    padding: 1rem;
    border-radius: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    overflow: hidden;
}

.information .user span{
    padding-top: .5rem;
    color:var(--black-color);
    font-weight: 500;
    font-size: 2rem;
}

.information .links {
    display: flex;
    flex-direction: column;
}

.information .links button {
    width: 20rem;
    height: 5rem;
    margin-top: 3rem;
    border-radius: 5rem;
    background: var(--black-color);
    color:var(--white-color);
    font-size: 1.8rem;
    padding: .9rem 1.5rem;
    cursor: pointer;
}

.information .links a {
    display: block;
    border-bottom: .1rem solid var(--light-color);
    font-size: 2rem;
    color: var(--white-color);
}

.information .links a:last-child{
    border: none;
}

.information .links a:hover{
    letter-spacing: .2rem;
    color:var(--orange);
}

.information #sair{
    position: absolute;
    top:1rem; right:2rem;
    font-size: 3rem;
    cursor: pointer;
    color:var(--black-color);
}

.information #sair:hover{
    color: var(--orange);
}

.requests{
    position: fixed;
    top:0; left: -120%;
    z-index: 1000;
    height: 100%;
    background: var(--white-color);
    padding:3rem;
    width: 30rem;
}

.requests.active{
    left: 0;
    box-shadow: 0 0 0 100vw var(--light-color);
}

.requests .user{
    text-align: center;
    margin:3rem auto;
}

.requests .user img{
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    border:.5rem solid var(--white-color);
    object-fit: cover;
    box-shadow: 5rem 2rem 0 -3rem var(--orange),
                -5rem -2rem 0 -3rem var(--orange);
    margin-bottom: 4rem;
}

.requests #sairr{
    position: absolute;
    top:1rem; right:2rem;
    font-size: 3rem;
    cursor: pointer;
    color:var(--black-color);
}

.requests #sairr:hover{
    color: var(--orange);
}

.shopping{
    position: fixed;
    top:0; left: -120%;
    z-index: 1000;
    height: 100%;
    width: 40%;
    background: var(--white-color);
    padding:3rem;
    width: 30rem;
}

.shopping.active{
    left: 0;
    box-shadow: 0 0 0 100vw var(--light-color);
    width: 50vw;
}

.shopping .user{
    text-align: center;
    margin:3rem auto;
}

.shopping .user p{
    padding-top: .5rem;
    color:var(--black-color);
    font-weight: 500;
    font-size: 2rem;
    border: 1px solid var(--black-color);
    padding: 1rem;
    border-radius: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.shopping .user span{
    padding-top: .5rem;
    color:var(--black-color);
    font-weight: 500;
    font-size: 2rem;
}

.shopping .shop {
    padding: 1rem;
    height: 70%;
    line-height: 3rem;
    overflow-y:scroll;
    border: thin var(--black-color) solid;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.shopping .shop .shop-cart {
    color:var(--black-color);
    font-weight: 500;
    font-size: 1.4rem;
    border-bottom: 1px solid var(--black-color);
    padding: 0.5rem;
}

.shopping .shop .shop-cart .product-cart{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.shopping .shop .shop-cart .image img {
    width: 10rem;
    height: 10rem;
}

.shopping .shop .shop-cart input {
    border: 1px solid var(--black-color);
    height: 3rem;
    width: 4rem;
    text-align: center;
    margin-left: 2rem;
}

.shopping .shop .shop-cart .span {
    display: inline;
}

.shopping .shop .shop-cart #delete {
    margin-left: 20rem;
    font-size: 2rem;
    cursor: pointer;
    color:var(--black-color);
}

.shopping .shop .shop-cart #delete:hover{
    color: var(--orange);
}

.shopping .frete {
    margin-top: 1rem;
}

.shopping .frete .frete-cart {
    color:var(--black-color);
    font-weight: 500;
    font-size: 1.4rem;
    border: 1px solid var(--black-color);
    padding: 1rem;
    border-radius: 2rem;
    margin-bottom: 1rem;
}

.shopping .frete .frete-cart .span {
    display: inline;
}

.shopping .links {
    text-align: center;
}

.shopping .links button {
    width: 20rem;
    height: 5rem;
    margin-top: 0.2rem;
    border-radius: 5rem;
    background: var(--black-color);
    color:var(--white-color);
    font-size: 1.8rem;
    padding: .9rem 1.5rem;
    cursor: pointer;
}

.shopping .links a {
    display: block;
    border-bottom: .1rem solid var(--light-color);
    font-size: 2rem;
    color: var(--white-color);
}

.shopping .links a:last-child{
    border: none;
}

.shopping .links a:hover{
    letter-spacing: .2rem;
    color:var(--orange);
}

.shopping #closer {
    position: absolute;
    top:1rem; right:2rem;
    font-size: 3rem;
    cursor: pointer;
    color:var(--black-color);
}

.shopping #closer:hover{
    color: var(--orange);
}

.product-item {
    position: fixed;
    top:0; left: -120%;
    z-index: 1000;
    height: 100%;
    background: var(--white-color);
    padding:3rem;
    width: 30rem;
    overflow-y: scroll;
}

.product-item.active{
    left: 0;
    box-shadow: 0 0 0 100vw var(--light-color);
    width: 50vw;
}

.product-item .product {
    text-align: center;
    height: 100%;
    line-height: 3rem;
    border: thin var(--black-color) solid;
    border-radius: 1rem;
    padding: 1rem;
    margin-top: 2rem;
}

.product-item .product .button {
    width: 100%;
}

.product-item .product img {
    width: 25rem;
    height: 25rem;
}

.product-item .product .stars i{
    font-size: 2rem;
    color:var(--orange);
}

.product-item .product .stars span{
    font-size: 2rem;
    color:var(--black-color);
    font-weight: 300;
}

.product-item .product .text {
    color: var(--black-color);
}

.product-item .product .text h1 {
    text-align: start;
    margin-left: 1rem;
}

.product-item .product .text h2 {
    border-bottom: 0.1rem solid var(--black-color);
}

.product-item .product .text span{
    color:var(--black-color);
    font-weight: normal;
    font-size: 1.5rem;
    text-decoration: line-through;
}

.product-item .product a {
    display: block;
    width: 20rem;
    font-size: 2rem;
    color: var(--white-color);
}

.product-item .product a:last-child{
    border: none;
}

.product-item .product a:hover{
    letter-spacing: .2rem;
}

.product-item #back {
    position: absolute;
    top:1rem; right:2rem;
    font-size: 3rem;
    cursor: pointer;
    color:var(--black-color);
}

.product-item #back:hover{
    color: var(--orange);
}

.address{
    position: fixed;
    top:0; left: -120%;
    z-index: 1000;
    height: 100%;
    background: var(--white-color);
    padding:3rem;
    width: 30rem;
}

.address.active{
    left: 0;
    box-shadow: 0 0 0 100vw var(--light-color);
}

.address .content {
    width: 100%;
    height: 100%;
    color:var(--black-color);
}

.address .links-head {
    width: 100%;
    height: 10%;
    text-align: center;
    font-size: 1.8rem;
}

.address .content .pagamento {
    height: 35%;
    width: 100%;
    text-align: center;
}

.address .content .pagamento .text {
    font-size: 1.2rem;
    border: 0.1rem solid var(--black-color);
    padding: 1rem;
}

.address .links {
    width: 100%;
    height: 30%;
    font-size: 1.4rem;
}

.address .links input {
    margin-top: 2rem;
    margin-right: 1rem;
}

.address .links-button {
    width: 100%;
    height: 10%;
}

.address .links-button button {
    width: 20rem;
    height: 5rem;
    border-radius: 5rem;
    background: var(--black-color);
    color:var(--white-color);
    font-size: 1.8rem;
    padding: .9rem 1.5rem;
    cursor: pointer;
}

.address .links a {
    display: block;
    border-bottom: .1rem solid var(--light-color);
    font-size: 2rem;
    color: var(--white-color);
}

.address .links a:last-child{
    border: none;
}

.address .links a:hover{
    letter-spacing: .2rem;
    color:var(--orange);
}

.address #exitt{
    position: absolute;
    top:1rem; right:2rem;
    font-size: 3rem;
    cursor: pointer;
    color:var(--black-color);
}

.address #exitt:hover{
    color: var(--orange);
}

.sign-in{
    position: fixed;
    top:0; left: -120%;
    z-index: 1000;
    height: 100%;
    background: var(--white-color);
    padding:3rem;
    width: 30rem;
    overflow-y: scroll;
}

.sign-in.active{
    left: 0;
    box-shadow: 0 0 0 100vw var(--light-color);
}

.sign-in .links {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    border: 1px solid var(--black-color);
    border-radius: 2rem;
}

.sign-in .links-button {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
}

.sign-in .links-head {
    width: 20rem;
    height: 4rem;
    text-align: center;
    color:var(--black-color);
    font-size: 1.8rem;
    margin-top: 2rem;
}

.sign-in .links label {
    color:var(--black-color);
    font-size: 1.2rem;
    padding: .7rem 1.2rem;
}

.sign-in .links span {
    color:var(--black-color);
    font-size: 1.8rem;
    padding: .7rem 1.2rem;
    text-align: center;
}

.sign-in .links input {
    width: 20rem;
    height: 4rem;
    margin-left: 0.7rem;
    margin-bottom: 1.1rem;
    border-radius: 4rem;
    background: var(--black-color);
    color:var(--white-color);
    font-size: 1.8rem;
    padding: .9rem 1.5rem;
}

.sign-in .links-button button {
    width: 20rem;
    height: 5rem;
    border-radius: 5rem;
    background: var(--black-color);
    color:var(--white-color);
    font-size: 1.8rem;
    padding: .9rem 1.5rem;
    cursor: pointer;
}

.sign-in .links-button a {
    display: block;
    border-bottom: .1rem solid var(--light-color);
    font-size: 2rem;
    color: var(--white-color);
}

.sign-in .links-button a:last-child{
    border: none;
}

.sign-in .links a:hover{
    letter-spacing: .2rem;
    color:var(--orange);
}

.sign-in #closerr{
    position: absolute;
    top:1rem; right:2rem;
    font-size: 3rem;
    cursor: pointer;
    color:var(--black-color);
}

.sign-in #closerr:hover{
    color: var(--orange);
}

.login{
    position: fixed;
    top:0; left: -120%;
    z-index: 1000;
    height: 100%;
    background: var(--white-color);
    padding:3rem;
    width: 30rem;
}

.login.active{
    left: 0;
    box-shadow: 0 0 0 100vw var(--light-color);
}

.login .links {
    display: flex;
    flex-direction: column;
    margin-top: 8rem;
}

.login .links-head {
    width: 20rem;
    height: 4rem;
    text-align: center;
    color:var(--black-color);
    font-size: 1.8rem;
    margin-top: 4rem;
}

.login .links label {
    color:var(--black-color);
    font-size: 1.4rem;
    padding: .9rem 1.5rem;
}

.login .links input {
    width: 20rem;
    height: 4rem;
    margin-bottom: 1.5rem;
    border-radius: 4rem;
    background: var(--black-color);
    color:var(--white-color);
    font-size: 1.8rem;
    padding: .9rem 1.5rem;
}

.login .links button {
    width: 20rem;
    height: 5rem;
    border-radius: 5rem;
    background: var(--black-color);
    color:var(--white-color);
    font-size: 1.8rem;
    padding: .9rem 1.5rem;
    cursor: pointer;
}

.login .links a {
    display: block;
    border-bottom: .1rem solid var(--light-color);
    font-size: 2rem;
    color: var(--white-color);
}

.login .links a:last-child{
    border: none;
}

.login .links a:hover{
    letter-spacing: .2rem;
    color:var(--orange);
}

.login #closerrr{
    position: absolute;
    top:1rem; right:2rem;
    font-size: 3rem;
    cursor: pointer;
    color:var(--black-color);
}

.login #closerrr:hover{
    color: var(--orange);
}

.products .product-slider .slide{
    overflow: hidden;
    position: relative;
    border:.1rem solid var(--light-color);
    border-radius: .5rem;
    background: var(--white-color);
}

.products .product-slider .slide .image{
    padding:1rem;
}

.products .product-slider .slide .image img{
    height: 35rem;
    width: 100%;
    object-fit: scale-down;
}

.products .product-slider .slide .content{
    padding:2rem;
    border-top: .1rem solid var(--light-color);
}

.products .product-slider .slide:hover .icons{
    right:1rem;
}

.products .product-slider .slide .content .stars i{
    font-size: 2rem;
    color:var(--orange);
}

.products .product-slider .slide .content .stars span{
    font-size: 2rem;
    color:var(--black-color);
    font-weight: 300;
}

.products .product-slider .slide .content h3{
    color:var(--black-color);
    font-weight: normal;
    font-size: 2.5rem;
    padding:.5rem 0;
}

.products .product-slider .slide .content .price{
    color:var(--orange);
    font-weight: bolder;
    font-size: 2.5rem;
    padding:.5rem 0;
}

.products .product-slider .slide .content .price span{
    color:var(--black-color);
    font-weight: normal;
    font-size: 1.5rem;
    text-decoration: line-through;
}

.products .product-slider .swiper-button-next,
.products .product-slider .swiper-button-prev{
    color:var(--black-color);
}

.products .gap{
    margin-bottom: 2rem;
}

.featured .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
}

.featured .box-container .box{
    flex:1 1 27rem;
    background: var(--white-color);
    border:.1rem solid var(--light-color);
    border-radius: .5rem;
    padding:1rem;
}

.featured .box-container .box .image-container{
    display: flex;
    gap:1.5rem;
    align-items: center;
    padding:1rem;
}

.featured .box-container .box .image-container .small-image{
    width:20%;
}

.featured .box-container .box .image-container .big-image{
    width:80%;
}

.featured .box-container .box .image-container .small-image img{
    width:100%;
    padding: .5rem;
    margin-bottom: 1rem;
    border:.1rem solid var(--light-color);
    cursor: pointer;
}

.featured .box-container .box .image-container .big-image img{
    width:100%;
}

.featured .box-container .box .content{
    padding:1rem;
    border-top: .1rem solid var(--light-color);
}

.featured .box-container .box .content h3{
    font-size: 2.5rem;
    color:var(--black-color);
}

.featured .box-container .box .content .stars{
    padding: .5rem 0;
}

.featured .box-container .box .content .stars i{
    font-size: 1.5rem;
    color:var(--orange);
}

.featured .box-container .box .content .stars span{
    font-size: 1.5rem;
    color:var(--black-color);
    font-weight: 300;
}

.featured .box-container .box .content p{
    color:var(--black-color);
    font-size: 1.5rem;
    padding:.5rem 0;
    line-height: 1.5;
}

.featured .box-container .box .content .price{
    color:var(--orange);
    font-size: 2.5rem;
    padding:.5rem 0;
    font-weight: bolder;
}

.featured .box-container .box .content .price span{
    color:var(--black-color);
    font-size: 1.5rem;
    text-decoration: line-through;
    font-weight: 300;
}

.footer .footer-container{
    background:var(--white-color);
    border:.1rem solid var(--light-color);
    border-radius: .5rem;
    padding:2rem;
}

.footer .footer-container .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
}

.footer .footer-container .box-container .box{
    flex:1 1 25rem;
}

.footer .footer-container .box-container .box h3{
    color:var(--orange);
    font-size: 2.5rem;
    padding:1rem 0;
}

.footer .footer-container .box-container .box a{
    display: block;
    color:var(--black-color);
    font-size: 1.7rem;
    padding:1rem 0;
    font-weight: 300;
}

.footer .footer-container .box-container .box a:hover{
    color:var(--orange);
}

.footer .footer-container .box-container .box img{
    margin-top: 1rem;
}

.footer .footer-container .credit{
    font-size: 2rem;
    margin-top: 2rem;
    padding-top: 2rem;
    border-top: .1rem solid var(--light-color);
    color:var(--black-color);
    text-align: center;
}

/* media queries  */

@media (max-width:991px){

    html{
        font-size: 55%;
    }

    header{
        padding:1.5rem;
    }

    section{
        padding:1.5rem;
        overflow-x : hidden;
    }

    .home .content h3{
        font-size: 5rem;
    }

}

@media (max-width:768px){

    header{
        flex-flow: column;
    }

    header form{
        width:100%;
        margin:2rem 0;
    }

    header.active{
        transform: translateY(-12.5rem);
    }

    .home .content{
        text-align: center;
    }

    .home .image img{
        width: 100%;
    }

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

    .heading{
        text-align: center;
        font-size: 2.5rem;
        border-bottom: none;
    }

}